

      @font-face {

          font-family: 'nakula';

          src: url('generalnakula.ttf');

          src: url('generalnakula.ttf').format('truetype');

          font-weight: normal;

          font-style: normal;

      }
