@font-face {
    font-family:'fontsaudimat-mono';
    src:url('fontsfontsaudimat-mono.ttf');
    src:url('fontsfontsaudimat-mono.ttf').format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family: 'nakula';
  src: url('generalnakula.ttf');
  src: url('generalnakula.ttf').format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'behdad';
  src: url('Behdad-Regular.ttf');
  src: url('Behdad-Regular.ttf').format('truetype');
  font-weight: normal;
  font-style: normal;
}