

      @font-face {

          font-family: 'fontsaudimat-mono';

          src: url('fontsfontsaudimat-mono.ttf');

          src: url('fontsfontsaudimat-mono.ttf').format('truetype');

          font-weight: normal;

          font-style: normal;

      }
