.accordion {
  background: #efecf4;
}
.accordion-tabs {
  display: none;
}
.accordion-tabs :focus {
  outline: none;
}
.accordion-item {
  border-bottom: 1px solid #eaeaea;
}
.accordion-item:last-child {
  border: none;
}
.accordion-item__label {
  margin: 0;
  padding: 1.25rem;
  cursor: pointer;
  transition: padding 0.2s ease;
  position: relative;
}
.accordion-item__label:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  top: -4px;
  right: 1.25rem;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 2px;
  transform: rotate(45deg);
  border-color: transparent #447fff #447fff transparent;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.accordion-item__label:hover {
  background: #d3e1ff;
}
.accordion-item__container {
  padding: 0 1.25em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}
.accordion-active {
  background: rgba(68, 127, 255, 0.1);
}
.accordion-active .accordion-item__label {
  padding-bottom: 0;
  cursor: inherit;
}
.accordion-active .accordion-item__label:hover {
  background: none;
}
.accordion-active .accordion-item__label:after {
  opacity: 0;
}
.accordion-active .accordion-item__container {
  padding: 1.25em;
  height: auto;
  opacity: 1;
}
.accordion-active .accordion-item__container p:first-child,
.accordion-active .accordion-item__container h1:first-child,
.accordion-active .accordion-item__container h2:first-child,
.accordion-active .accordion-item__container h3:first-child,
.accordion-active .accordion-item__container h4:first-child,
.accordion-active .accordion-item__container h5:first-child,
.accordion-active .accordion-item__container h6:first-child {
  margin-top: 0;
}
.accordion-active .accordion-item__container p:last-child,
.accordion-active .accordion-item__container h1:last-child,
.accordion-active .accordion-item__container h2:last-child,
.accordion-active .accordion-item__container h3:last-child,
.accordion-active .accordion-item__container h4:last-child,
.accordion-active .accordion-item__container h5:last-child,
.accordion-active .accordion-item__container h6:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .accordion-tabs {
    display: flex;
    background: #ffe9ea;
  }
  .accordion-tabs .accordion-tab {
    background: #f5a6a9;
    color: #ffe9ea;
    padding: 1rem 2rem;
    font-size: 16pt;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
  }
  .accordion-tabs .accordion-tab:hover {
    background: #fcbfc1;
  }
  .accordion-tabs .accordion-tab:last-child {
    border-right: 0;
  }
  .accordion-tabs .accordion-tab.accordion-active {
    background: #ffe9ea;
    color: #f3969a;
  }

  .accordion-item {
    padding: 2.4rem;
    display: none;
    border: none;
    background: #ffe9ea;
    min-height: 260px;
  }
  .accordion-item__label, .accordion-item__container {
    padding: 0;
    transition: inherit;
  }
  .accordion-item__label {
    margin-bottom: 1.5rem;
  }
  .accordion-item.accordion-active {
    display: block;
  }
  .accordion-item.accordion-active .accordion-item__container {
    padding: 0;
  }
}
* {
  box-sizing: border-box;
}

.accordion {
  box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  /*max-width: 400px;*/
}
@media (min-width: 600px) {
  .accordion {
    /*max-width: 600px;*/
  }
}
.accordion + p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 2rem;
}